/*  HEADER FOR CONTENT*/
body {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
}

h2 a {
    color:#F5EB90;
}

.nav-links a {
    color: #F5EB90;
}

hr {
    background-color: #F5EB90;
}

/*  MAIN CSS   */
main {
    position: relative;
    width: 80vw;
    margin: auto;
    margin-top: 30px;
    min-height: 70vh;
}

h1{
    justify-self: right;
}

.flex-container {
    display: flex;
}

.text-container {
    display: grid;
    width: 500px;
    margin-left: 100px;
    text-align: right;
}

.img-container {
    position: static;
    background: #F5EB90;
    width: 45vw;
    height: 50vh;
    margin-top: 100px;
}

.img-container img {
    position: absolute;
    height: 450px;
    margin-top: -128px;
    margin-left: 250px;
}

.img-container h2{
    position: absolute;
    color: black;
    padding-top: 20vh;
    margin-left: 50px;
    font-size: 40px;
}

@media screen and (max-width: 1060px) {
    .flex-container{
    display: grid;
    }

    .img-container {
        position: static;
        width: 80vw;
        height: 40vh;
        margin-top: 80px;
    }

    .img-container img{
        position: fixed;
        height: 400px;
        margin-top: -165px;
        margin-left: 450px;
    }

    .img-container h2 {
        padding-top: 17vh;
        margin-left: 100px;
    }
}

@media screen and (max-width: 1000px) {
        body{
            width: 100%;
        }    
    
        h1{
            justify-self: center;
            font-size: 150px;
            margin-top: 30px;
        }
    
        .img-container{
            height: 70vh;
        }

        .img-container img{
            position: absolute;
            height: 1380px;
            margin-left: 100px;
            margin-top: -225px;
        }
        
        .img-container h2{ 
            font-size: 150px;
            transform: rotate(90deg);
            margin-top: 250px;
            margin-left: -150px;
        }

        .text-container {
            text-align: justify;
            font-size: 40px;
            width: 800px;
            margin: auto;
            margin-bottom: 40px;
            padding: 20px;
        }
}


