/*  HEADER CSS  */
body {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
}

h2 a {
    color:#F5EB90;
}

.nav-links a {
    color: #F5EB90;
}

hr {
    background-color: #F5EB90;
}

/*  CONTACT CSS*/
main {
    position: relative;
    width: 80vw;
    margin: auto;
    margin-top: 30px;
    min-height: 40vh;
}

h1 {
    float: right;
    color: white;
}

footer {
    margin-top: 200px;
}

.info {
    color: white;
    width: 400px;
}

@media screen and (max-width: 1000px) {
    h1 {
        float: none;
        margin-left: 10vw;
        font-size: 150px;
    }

    p {
        color: white;
        
    }
    .info {
        font-size: 40px;
        margin-top: 50px;
        width: 100%;
        padding: 20px;
        
    }

    
}

/*  about css   s*/
