main {
    position: relative;
    height: 80vh;
}

body {
    background-color: #F5EB90;
}

.front-page {
    margin: auto;
    width: 60%;
    text-align: center;
    padding-top: 250px;
}

.mobile-nav {
    display: none;
}


@media screen and (max-width: 1000px) {
    body {
        position: relative;
        height: 100vh;
    }
    
    main { 
        max-width: 90vw;
        margin: auto;
        margin-top: 200px;
    }

    header {
       height: 150px; 
    }

    header h2{
        position:initial;
        font-size: 80px;
        margin-left: 250px;
        width: 100vw;
    }

    header h2:hover {
        transform: none;
    }

    .desk-nav {
        display: none;
    }
    
    .mobile-nav {
        display: initial;
        font-size: 70px;
        font-weight: bolder;
        position: absolute;
        right: 60px;
    }

    main .front-page {
        font-size: 110px;
    }
}