/*  HEADER CSS  */
body {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
}

h2 a {
    color:#F5EB90;
}

.nav-links a {
    color: #F5EB90;
}

hr {
    background-color: #F5EB90;
}

/*  MAIN CSS   */

.grid {
    display: grid;
    row-gap: 15px;
    grid-template-columns: repeat(3, 1fr);
    margin: 20px 0 20px 0;
    justify-items: center;
}

.grid-item img {
    height: 300px;
    width: 400px;
    object-fit: cover;
}

@media screen and (max-width: 1000px) {
    .grid{
    display: grid;
    row-gap: 50px;
    grid-template-columns: repeat(1, 1fr);
    margin-top: 100px;
    }

    .grid-item img {
        width: 900px;
        height: 1100px;
    }
}
